@import "../Variables/Variables.scss";

.ClipIcon {
  cursor: pointer;
}

.news_Card {
  border: 1px solid $Primary;
  border-radius: 6px;
  // background-color: $Primary;
  width: 400px;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.news_Headline {
  font-size: $TitleSize;
  color: black;
  text-decoration: none;
}

.news_Snippet {
  color: gray;
  margin: 8px 0;
}

.news_Date {
  font-size: 12px;
  justify-content: flex-end;
}
