@import "../Variables/_Variables.scss";

.ClipIcon {
  cursor: pointer;
}

.news_Card {
  border: 1px solid $Primary;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.news_Headline {
  font-weight: bold;
  color: black;
  text-decoration: none;
  color: $Primary;
}

.news_Snippet {
  color: gray;
  margin: 8px 0;
  line-height: 16px;
}

.news_Date {
  color: gray;
  font-size: $SubSize;
  justify-content: flex-end;
}
