@import "../Variables/_Variables.scss";

.wrapper {
  max-width: 600px;
  min-width: 330px;
  margin: 140px auto;
}
.search-input {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  .autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    li {
      @include ellipsis();
      list-style: none;
      padding: 8px 60px 8px 20px;
      width: 100%;
      border-radius: 3px;
      display: none;
    }
  }
  &:focus-within {
    .autocom-box {
      padding: auto 8px;
      opacity: 1;
      pointer-events: auto;
      position: absolute;
      background-color: white;
      width: 100%;
      li {
        display: block;
      }
    }
  }
  input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: $BodySize;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }

  .searchIcon {
    position: absolute;
    height: 55px;
    width: 55px;
    line-height: 55px;
    color: $Primary;
    top: 0;
    right: 0;
    text-align: center;
    font-size: $BodySize;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
.Article_Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 4px;
  justify-content: center;
  padding: initial;
}

.loader {
  width: 16px;
  height: 16px;
  display: block;
  margin: 240px auto 0;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &:after,
  &:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #fff;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  &:before {
    background-color: #ff3d00;
    transform: scale(0.5) translate(-22px, -22px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
